################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/TruckersMP Game Directory Displayer/obj/Release/TruckersMP_Game_Directory_Displayer.Properties.Resources.resources
/TruckersMP Game Directory Displayer/obj/Release/TruckersMP_Game_Directory_Displayer.Form1.resources
/TruckersMP Game Directory Displayer/obj/Release/TruckersMP Game Directory Displayer.pdb
/TruckersMP Game Directory Displayer/obj/Release/TruckersMP Game Directory Displayer.exe
/TruckersMP Game Directory Displayer/obj/Release/TruckersMP Game Directory Displayer.csprojAssemblyReference.cache
/TruckersMP Game Directory Displayer/obj/Release/TruckersMP Game Directory Displayer.csproj.GenerateResource.cache
/TruckersMP Game Directory Displayer/obj/Release/TruckersMP Game Directory Displayer.csproj.FileListAbsolute.txt
/TruckersMP Game Directory Displayer/obj/Release/TruckersMP Game Directory Displayer.csproj.CoreCompileInputs.cache
/TruckersMP Game Directory Displayer/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TruckersMP Game Directory Displayer/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TruckersMP Game Directory Displayer/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TruckersMP Game Directory Displayer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/TruckersMP Game Directory Displayer/obj/Debug/TruckersMP_Game_Directory_Displayer.Properties.Resources.resources
/TruckersMP Game Directory Displayer/obj/Debug/TruckersMP_Game_Directory_Displayer.Form1.resources
/TruckersMP Game Directory Displayer/obj/Debug/TruckersMP Game Directory Displayer.pdb
/TruckersMP Game Directory Displayer/obj/Debug/TruckersMP Game Directory Displayer.exe
/TruckersMP Game Directory Displayer/obj/Debug/TruckersMP Game Directory Displayer.csprojAssemblyReference.cache
/TruckersMP Game Directory Displayer/obj/Debug/TruckersMP Game Directory Displayer.csproj.GenerateResource.cache
/TruckersMP Game Directory Displayer/obj/Debug/TruckersMP Game Directory Displayer.csproj.FileListAbsolute.txt
/TruckersMP Game Directory Displayer/obj/Debug/TruckersMP Game Directory Displayer.csproj.CoreCompileInputs.cache
/TruckersMP Game Directory Displayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TruckersMP Game Directory Displayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TruckersMP Game Directory Displayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TruckersMP Game Directory Displayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TruckersMP Game Directory Displayer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/.vs/VSWorkspaceState.json
/.vs/TruckersMP Game Directory Displayer/v15/Server/sqlite3/storage.ide-wal
/.vs/TruckersMP Game Directory Displayer/v15/Server/sqlite3/storage.ide-shm
/.vs/TruckersMP Game Directory Displayer/v15/Server/sqlite3/storage.ide
/.vs/TruckersMP Game Directory Displayer/v15/Server/sqlite3/db.lock
/.vs/TruckersMP Game Directory Displayer/v15/.suo
/.vs/slnx.sqlite
/TruckersMP Game Directory Displayer/bin/Release/TruckersMP Game Directory Displayer.pdb
/TruckersMP Game Directory Displayer/bin/Release/TruckersMP Game Directory Displayer.exe.config
/TruckersMP Game Directory Displayer/bin/Release/TruckersMP Game Directory Displayer.exe
