################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/TruckersMP Game Directory Displayer/obj/Release/TruckersMP_Game_Directory_Displayer.Properties.Resources.resources
